body {
	background-image: url("images/background.jpg");
	background-color: #cccccc;
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: monospace;
	color: white;
}

h1 {
	font-size: 40px;
}

p {
	font-size: 16px;
}

.converter {
	position: relative;
	top: 10vh;
}

#inputTime {
	float: right;
	right: 50px;
	text-align: right;
}

#inputFood {
	float: left;
	left: 50px;
	text-align: left;
}

.mainText {
	position: relative;
	top: 0vh;
}

#end {
	visibility: hidden;
}


.trip {
	display: block;
	position: relative;
	margin: 0 auto;
	width: 30vw;
	float: none;
	top: 45vh;
	justify-content: center;
}

.map {
	display: flex;
	flex-flow: row nowrap;
	position: absolute;
	bottom: 50px;
	left: 5vw;
	width: 90vw;
	height: auto;
	align-items: center;
	margin: auto;
	border: auto;
	padding: 0 auto;
}

#earth img {
	position: relative;
	width: 150px;
	float: left;
}

#rocket img {
	position: relative;
	width: 50px;
	height: 100px;
	margin: 0 auto;
	border: 0;
	padding: 0;
}

.rocket {
	position: absolute;
	left: 150px;
	width: 50px;
	height: 100px;
	margin: 0;
	border: 0;
	padding: 0;
	z-index: 999;
	transform: rotate(90deg);
	transition: ease;
}

#mars {
	position: relative;
	margin: 0 0 0 auto;
	border: 0;
	float: right;
}

#mars img {
	width: 150px;
}
