body {
	margin: 5vh 5vw;
	justify-content: center;
	background-color: #181818;
	font-family: monospace;
	color: aliceblue;
}

#map {
	position: absolute;
	height: 60vh;
	width: 90vw;
	top: 30vh;
	margin: 0 auto;
}

.info {
	position: absolute;
	top: 15vh;
	text-align: center;
	width: 90vw;
	margin: 0 auto;
}

#weather {
	float: right;
	text-align: right;
	width: 30vw;
	text-transform: capitalize;
	margin: 0;
}

#getCity {
	font-family: monospace;
}

#cityName {
	font-family: monospace;
}

#stats {
	text-align: left;
	text-transform: capitalize;
	float: left;
	width: auto;
	margin: 0;
}