body {
	margin: 5vh 5vw;
	justify-content: center;
	background: #000000;
	font-family: monospace;
	color: aliceblue;
}

#map {
	height: 65vh;
	width: 90vw;
	top: 25vh;
	margin: 0 auto;
}

#city {
	text-transform: capitalize;
}

